
header{
  background-image: url("https://thumbs.dreamstime.com/t/plancher-en-pastel-de-planche-de-contreplaqu-de-brown-peint-vieux-fond-en-bois-de-texture-de-table-suprieure-grise-76314982.jpg");
}
#logoResto h1{
  font-family: 'Caveat Brush', cursive;
  text-transform: uppercase;
  font-size: 25px;
}
#logoResto h1 span{
  font-size: 20px;
  display: inline;
  vertical-align: top;
  position: relative;
}
#logoResto h1 span:after{
  top: 10px;
  content: "-";
  position: absolute;
  left: 0;
}
#logoResto{
  position: relative;
  display: inline-block;
  margin-left: 80px;
}
.rectangle{
  bottom: 5px;
  position: absolute;
  margin: 0;
  display: block;
  border: 5px solid #b91d57;
  padding: 0 7px;
  width: 1px;
  left: 40%;
}
section .rectangle{
  position: inherit;
  margin: auto;
  left: 0;
  bottom: 0;
}
.inlineB{
  display: inline-block;
  margin: 20px;
  font-family: fantasy;
}
nav{
  position: absolute;
  right: 25px
}
#logo{
  position: relative;
  margin: auto;
  width: 200px;
  display: block;
  padding-bottom: 70px;
}
#logo img{
  width: 160px;
  left: -20px;
  display: block;
  margin: auto;
  position: absolute;
}
#logo div{
	width: 0;
	height: 0;
	border-top: 75px solid transparent;
	border-left: 75px solid #b91d57;
	border-bottom: 75px solid transparent;
  display: block;
  margin: auto;
}
#story img{
  transform: scaleX(-1);
  width: 120%;
}
.pBloque-left, .pBloque-right{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.pBloque-left{
  position: relative;
  width: 30%;
}
.pBloque-right{
  width: 70%;
}
p{
  font-size: 10px;
  font-family: cursive;
  padding: 50px;
}
h2{
  font-family: sans-serif;
}
body img{
  width: 100%
}
footer{
  font-family: fantasy;
}
